apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  labels:
    app: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      containers:
        - name: nextcloud
          image: docker.io/nextcloud:stable-apache
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: "250m"
              memory: "512Mi"
            limits:
              cpu: "1"
              memory: "1Gi"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          envFrom:
            # nextcloud-специфичные переменные
            - configMapRef:
                name: nextcloud-config
            # БД (DB name)
            - configMapRef:
                name: postgres-configmap
            # юзер/пароль к БД
            - secretRef:
                name: postgres-secret
            # админский пароль некстклауда
            - secretRef:
                name: nextcloud-secret

          # Пробы
          livenessProbe:
            httpGet:
              path: /status.php
              port: http
            initialDelaySeconds: 120
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3

          readinessProbe:
            httpGet:
              path: /status.php
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
